@inherits LayoutComponentBase
@inject ThemeService ThemeService
@using Radzen
@using Radzen.Blazor


<HeadContent>
	<RadzenTheme Theme="@ThemeService.Theme" />
</HeadContent>

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4 d-flex align-items-center justify-content-between">
			<RadzenStack Orientation="Orientation.Vertical"
						 AlignItems="AlignItems.Center"
						 JustifyContent="JustifyContent.Center"
						 Gap="2rem"
						 Wrap="FlexWrap.Wrap"
						 class="rz-p-12">
				<RadzenAppearanceToggle />
			</RadzenStack>

			<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
